.submit {
	text-align: center;
}
.submit__button {
	font-family: 'Intro Regular Alt';
	min-width: 250px;
	background: none;
	color: #fff;
	font-size: 22px;
	line-height: 1;
	padding: 15px 48px;
	border: 2px solid #fff;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
}
.oval-button, .oval-button-body {
	min-width: 180px;
	font-size: 14px;
	padding: 11px 30px;
	margin-right: 20px;
	border: 2px solid #1bbbd9;
	background: none;
	color: #fff;
	border-color: #41edff;
	-webkit-border-radius: 100px;
	        border-radius: 100px;
}
.oval-button_sec {
	margin-right: 0;
}
.oval-button:hover, .submit__button:hover, 
.oval-button-body:hover {
	cursor: pointer;
	background-color: #41edff;
}