.mountain-banner__link_pos-2 {
	left: 40px;
	top: 93px;
}
.mountain-banner__link_pos-3 {
	left: 80px;
	top: 72px;
}
.mountain-banner__ttl_pos-2 {
	top: 26px;
	left: 40px;
}
.mountain-banner__ttl_pos-3 {
	top: 2px;
	left: 80px;
}