.top-menu {
	background-color: #f5547b;
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 200;
}
.top-menu__list {
	padding: 0;
	margin: 0;
	display: inline;
	list-style-type: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.top-menu__itm {
	padding-top: 14px;
	padding-left: 12px;
}
.top-menu__itm_cl {
	padding-left: 0;
}
.top-menu__link {
	color: #fff;
	font-size: 20px;
}
.top-menu__link_pink {
	font-size: 14px;
	color: #ffa3b9;
}
.top-menu__link_ras {
	display: block;
	font-style: normal;
	font-size: 12px;
	position: relative;
	width: 210px;
	height: 32px;
	padding-top: 18px;
	padding-left: 30px;
	background-color: rgba(189, 48, 82, 0.6);
	text-align: center;
}
.top-menu__link_phone {
	display: block;
	font-style: normal;
	font-size: 12px;
	position: relative;
	width: 200px;
	height: 32px;
	padding-top: 18px;
	padding-left: 40px;
	background-color: rgba(189, 48, 82, 0.6);
	text-align: center;
}
.top-menu__link_ras:hover, .top-menu__link_phone:hover {
	text-decoration: underline;
}
.top-menu__link_ras:before {
	content: '';
	width: 35px;
	height: 35px;
	top: 9px;
	left: 18px;
	background-image: url(../img/raspis.png);
	background-repeat: no-repeat;
	position: absolute;
}
.top-menu__link_phone:before {
	content: '';
	width: 35px;
	height: 35px;
	top: 8px;
	left: 30px;
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	position: absolute;
}
.basic-menu {
	height: 230px;
}
.basic-menu__logo {
	height: 100%;
	width: 23%;
	float: left;
}
.basic-menu__logo_img {
	margin-top: 111px;
	display: inline-block;
}
.basic-menu__navigation {
	height: 100%;
	width: 75%;
	float: left;
	margin-left: 19px;
	margin-top: 101px;
}
.basic-menu__list {
	margin: 0;
	padding: 0;
	text-align: right;
}
.basic-menu__itm {
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 0;
	margin: 2px;
}
.basic-menu__itm:hover .basic-menu__link_circle {
	background: #e23861;
	top: -20px;
}
.basic-menu__link {
	text-align: right;
	color: #5b5b5b;
	letter-spacing: 0.3px;
	font-size: 12px;
	display: block;
}
.basic-menu__link:hover {
	color: #e34168;
}
.basic-menu__link:before {
	content: '';
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	position: absolute;
	width: 50px;
	height: 10px;
	top: 58px;
	left: 50%;
	margin-left: -25px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#ddd));
	background: -webkit-linear-gradient(top, #ebebeb 0%, #ddd 100%);
	background: -o-linear-gradient(top, #ebebeb 0%, #ddd 100%);
	background: linear-gradient(to bottom, #ebebeb 0%, #ddd 100%);
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.basic-menu__link:hover:before {
	width: 40px;
	height: 8px;
	margin-left: -20px;
}
.basic-menu__link_circle {
	-webkit-transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
	-o-transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
	transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
	position: relative;
	z-index: 100;
	display: block;
	text-align: center;
	width: 60px;
	height: 60px;
	top: 0;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background-color: #1bbdce;
	line-height: 78px;
	margin: auto;
	margin-bottom: 15px;
}