.main-gallery__img {
	max-width: 100%;
}
.gallery-cell {
	height: 400px;
	padding: 0 19px;
	width: 100%;
}
.main-gallery__slider {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 0;
	width: 479px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.main-gallery__pink-ban {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
	background: rgba(226, 55, 96, 0.9);
	-webkit-box-flex: 0;
	padding: 25px 40px 10px 38px;
	-webkit-box-flex: 1;
	        flex: 1;
	-webkit-flex: 0 0 479px;
	    -ms-flex: 0 0 479px;
	        flex: 0 0 479px;
}
.main-gallery__link {
	color: #fff;
	text-decoration: none;
}
.main-gallery__ttl {
	color: #fff;
	font-family: 'Intro Regular Alt';
	font-weight: 100;
	margin: 0;
	font-size: 34px;
	line-height: 1.1;
}
.main-gallery__ttl:hover {
	text-decoration: underline;
	color: rgba(255, 255, 255, 0.3);
}
.main-gallery__ttl_big {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
.main-gallery__ttl_big:hover {
	color: #fff;
}
.main-gallery__ttl_sm {
	color: #fff;
	font-size: 14px;
	margin: 14px 0;
	font-weight: 100;
}
.main-gallery__nav {
	margin: 0;
	padding: 0;
	position: relative;
	height: 50px;
}
.main-gallery__nav_prev, .main-gallery__nav_next {
	display: inline-block;
	width: 30px;
	height: 50px;
}
.main-gallery__nav_prev:after {
	position: absolute;
	content: '';
	width: 11px;
	height: 26px;
	background: url(../img/prevArrow.png);
	background-repeat: no-repeat;
	left: 7px;
	top: 50%;
	margin-top: -13px;
	margin-left: -6px;
}
.main-gallery__nav_next:after {
	position: absolute;
	content: '';
	width: 11px;
	height: 26px;
	background: url(../img/nextArrow.png);
	background-repeat: no-repeat;
	left: 40px;
	top: 50%;
	margin-top: -13px;
	margin-left: -6px;
}