.form__ttl {
	font-size: 34px;
	font-family: 'Intro Regular Alt';
	font-weight: 100;
	color: #333333;
	text-align: center;
}
.form__subtitle {
	font-family: 'Intro Regular';
	font-size: 22px;
}
.complete-form {
	width: 100%;
	background: -webkit-gradient(linear, left bottom, left top, from(#21d0e2), to(#1bbad8));
	background: -webkit-linear-gradient(bottom, #21d0e2, #1bbad8);
	background: -o-linear-gradient(bottom, #21d0e2, #1bbad8);
	background: linear-gradient(to top, #21d0e2, #1bbad8);
}
.complete-form__field-fill {
	padding: 50px;
}
.complete-form__table {
	margin: auto;
}
.complete-form__col {
	padding-bottom: 16px;
	text-align: right;
}
.complete-form__label {
	color: #fff;
	padding-top: 13px;
	font-size: 18px;
}
.complete-form__label_pos {
	padding-right: 14px;
	padding-left: 30px;
}
.complete-form__input {
	width: 80px;
	height: 42px;
	text-align: center;
	color: #fff;
	background: #12a9c4;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	-webkit-box-shadow: 0 0 0 1px #0d9bbd inset;
	        box-shadow: 0 0 0 1px #0d9bbd inset;
}
.complete-form__button {
	display: table;
	margin: 6px;
	-webkit-border-radius: 40px;
	        border-radius: 40px;
	border: 2px solid;
	border-color: #17add2;
}