.walk-background {
	position: relative;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 78px;
	background: url(../img/body-bg--bottom.jpg) center bottom;
	background-repeat: no-repeat;
}
.walk-banner {
	position: relative;
	width: 400px;
	margin: auto;
	background-color: #fff;
	padding: 6px;
	color: #464343;
	font-size: 14px;
}
.walk-banner:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 78px;
	right: 70px;
	top: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#abbbbd), to(#c4d4d6));
	background: -webkit-linear-gradient(left, #abbbbd 0%, #c4d4d6 100%);
	background: -o-linear-gradient(left, #abbbbd 0%, #c4d4d6 100%);
	background: linear-gradient(to right, #abbbbd 0%, #c4d4d6 100%);
}
.walk-banner:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 78px;
	left: 70px;
	top: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#abbbbd), to(#c4d4d6));
	background: -webkit-linear-gradient(left, #abbbbd 0%, #c4d4d6 100%);
	background: -o-linear-gradient(left, #abbbbd 0%, #c4d4d6 100%);
	background: linear-gradient(to right, #abbbbd 0%, #c4d4d6 100%);
}
.walk-banner__frame {
	position: relative;
	padding: 25px 30px;
	border: 5px solid #d3eff2;
}
.walk-banner__ttl {
	font-size: 20px;
	color: #626161;
	font-weight: 100;
	margin: 0 0 1px 17px;
}
.walk-banner__inform {
	color: #464343;
	font-size: 16px;
	font-weight: 100;
	margin: 0 0 0 17px;
}
#walk_man {
	position: absolute;
	z-index: 100;
	left: 0;
	bottom: -52px;
}
.walkCenter__ban-txt {
	margin: 0 0 0 17px;
}
.walk-banner__inform_blue {
	font-size: 20px;
	color: #1bbbd9;
}